@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 20px 40px;
    font-family: 'Poppins', sans-serif;
    background: #fff;
}

.container {
    max-width: 760px;
    margin: 0 auto;
}

form {
    padding: 2em;
    background: #037373;
    border-radius: 1rem;
}

input {
    width: 100%;
    margin-top: 2px;
    padding: 10px;
    font-size: 16px;
}

button {
    background: #fff(11, 91, 133);
    border: none;
    width: 200px;
    padding: 1rem;
    color: black;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 0.2rem;
}

label {
    display: block;
    margin-top: 1rem;
}

.form-error {
    display: none;
    color: red;
    font-size: 0.9rem;
    margin-top: 2px;
}